
body{margin: 0%;padding: 0%;scroll-behavior: smooth;}


/*Start Screen*/

#startscreen{background-color: white;
             display: flex;justify-content: center;flex-wrap: wrap;align-content: center;align-items: center;
             position: absolute;top: 0px;left: 0px;
             z-index: 10001;user-select: none;
            
            }
    .logobaya
            {
            display: inline-block;position: relative;top: 0px;left: 0px;
            animation-name: testanime2;
            animation-duration: 0.6s;
            animation-timing-function: linear;
            animation-iteration-count: initial;
            animation-direction: alternate;      
            }
            
     @keyframes testanime2
        {
            0%  {transform:scale(0.0);}
            50% {transform:scale(0.5);}
            90% {transform:scale(1.1)}
            100% {transform:scale(1.0);}
        }
                       
    .logobayatexte
                {
                display: inline-block;position: relative;top: 0px;left: -10px;
                animation-name: testanime3;
                animation-duration: 0.6s;
                animation-timing-function: linear;
                animation-iteration-count: initial;
                animation-direction: alternate;
                }
    @keyframes testanime3
        {
                0%  {left: -100px;}
                90% {left: 20px;}
                100% {left: -10px;}
        }

    .boxappuyerici{width: 90%;text-align: center;margin-top: 50px;}
    .appuyerici
                {
                    font-size: 14pt;font-weight: bold;font-family: Arial, Helvetica, sans-serif;
                    color: rgba(128, 128, 128, 0);
                    animation-name: animationappuyer;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-iteration-count:  infinite;
                    animation-direction: alternate;
    
                }
                @keyframes animationappuyer
                {
                        0%  {color: rgba(128, 128, 128, 0);}
                        50% {color: rgba(128, 128, 128, 0.546);}
                        100% {color: rgb(128, 128, 128);}
                }
    
/* --------------------------------Fin Start Screen---------------------------------------------------*/

.fond{position: fixed; top: 0px;left: 0px;background-color:#f7f7f7;
    width: 100vw;height: 100vh;z-index: -2;}
.photolegumes{position: fixed; top: 0px;left: 0px;background-image: url(photos/fonflegume.png);
    width: 100%;height: 100%;background-size: cover;z-index: -1;display: none;
animation-name: animatibackgroug;
animation-duration: 20s;
animation-timing-function: linear;
animation-iteration-count:  infinite;
animation-direction: alternate;}
@keyframes animatibackgroug
            {
                    0%  {background-size: 100%;}
                    50% {background-size: 120%;}
                    100% {background-size: 100%;}
            }


  
/*Menu*/
  #barrehaut {
     position: fixed;top: 0;left: 0;background-color: black;
     width:100%; height: 60px;display: flex;justify-content: flex-start;align-items: center;
     user-select: none;font-family: Arial;z-index: 90;}

     #menu
         {
             width: 1000px;
             display: flex;justify-content: space-around;align-items: center;padding: 0%;
         }
     
     .menu1{transition-duration: 0.8s;margin-left: -10px;opacity: 1;} 
     .menu1.opaque{margin-left: -400px;opacity: 0;}

     .menu0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
     .menu0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}

     #logobarrehaut{width: 53px;height: 53px;margin-right: 30px;margin-left: 20px;z-index: 92;}
     #logobarrehaut:hover{opacity: 0.7;}

     #sommairebt{color: white; font-size : 12pt;width: 400px;text-align: center;height: 35px;padding-top: 20px;
                 background-color: black;border-bottom: 5px solid rgba(255, 0, 0, 0);}
     #sommairebt:hover{border-bottom: 5px solid rgb(255, 0, 0);font-weight: bold;
                       text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.479);background-color:rgba(128, 128, 128, 0.379);}

     #blocbt{color: white; font-size : 12pt;width: 400px;text-align: center;height: 35px;padding-top: 20px;
         background-color: black;border-bottom: 5px solid rgba(255, 0, 0, 0);}
     #blocbt:hover{border-bottom: 5px solid rgb(255, 0, 0);font-weight: bold;
         text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.479);background-color:rgba(128, 128, 128, 0.379);}

     #livresbt{color: white; font-size : 12pt;width: 400px;text-align: center;height: 35px;padding-top: 20px;
         background-color: black;border-bottom: 5px solid rgba(255, 0, 0, 0);}
     #livresbt:hover{border-bottom: 5px solid rgb(255, 0, 0);font-weight: bold;
         text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.479);background-color:rgba(128, 128, 128, 0.379);}

     #flyersbt{color: white; font-size : 12pt;width: 400px;text-align: center;height: 35px;padding-top: 20px;
         background-color: black;border-bottom: 5px solid rgba(255, 0, 0, 0);}
     #flyersbt:hover{border-bottom: 5px solid rgb(255, 0, 0);font-weight: bold;
         text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.479);background-color:rgba(128, 128, 128, 0.379);}
     
     #portedocbt{color: white; font-size : 12pt;width: 400px;text-align: center;height: 35px;padding-top: 20px;
         background-color: black;border-bottom: 5px solid rgba(255, 0, 0, 0);}
     #portedocbt:hover{border-bottom: 5px solid rgb(255, 0, 0);font-weight: bold;
         text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.479);background-color:rgba(128, 128, 128, 0.379);}
     
     #parametragebt{color: white; font-size : 12pt;width: 400px;text-align: center;height: 35px;padding-top: 20px;
         background-color: black;border-bottom: 5px solid rgba(255, 0, 0, 0);}
     #parametragebt:hover{border-bottom: 5px solid rgb(255, 0, 0);font-weight: bold;
         text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.479);background-color:rgba(128, 128, 128, 0.379);}

     #ladate{font-size: 14pt;font-weight: bold;color: grey;display: block; position: absolute; right: 15px; top: 20px;}




     #titremobile{color: white; font-weight: bolder;font-family: Arial;
         font-size: 16pt ;
         position: fixed;top: 20px;left: 20px;user-select: none;
         z-index: 93;display: none;
        }
     /*Fin Menu*/


body {font-family: Arial, Helvetica, sans-serif;}
#bthaut
        {
            position: fixed; border-radius: 100px;overflow: hidden;display: flex;justify-content: center;align-items: center;
        }
        .bthaut0{width: 0px;height: 0px; transition: 0.3s;bottom: 35px;right: 35px;
                 background-color: rgba(128, 128, 128, 0.01);box-shadow: 0px 0px 0px gray;}
        .bthaut0.opaque {width: 50px;height: 50px;bottom: 10px;right: 10px;
                         background-color: rgba(128, 128, 128, 0.326);
                         box-shadow: -2px -1px 10px gray;}

        .bthaut1{width: 50px;height: 50px; transition: 0.3s;bottom: 10px;right: 10px;
                 background-color: rgba(128, 128, 128, 0.326);
                 box-shadow: -2px -1px 10px gray;}
        .bthaut1.opaque {width: 0px;height: 0px;bottom: 35px;right: 35px;
                         background-color: rgba(128, 128, 128, 0.01);
                         box-shadow: 0px 0px 0px gray;}
        
/* Box sommaire */

#boxsommaire
        {
            flex-wrap: wrap;justify-content:center;align-content: center;
            width: 100%; 
            margin-top: 60px;position: absolute;top: 0%;left: 0%;
            display: none;user-select: none;
        }
.boxsommaire0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
.boxsommaire0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
.boxsommaire1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
.boxsommaire1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}

#boxinitiale{width: 100%;height: 150px;
    background-color: rgba(217, 217, 217, 0.9);
    display: flex;justify-content: center;overflow: hidden;margin-bottom: 10px;align-items: center;
    }

#boxinitiale p {font-size: 10pt;text-align: justify;width: 90%;line-height: 0px;}
#boxinitiale:hover{background-color: rgb(206, 206, 206);}


.boxinitilepartie1{width: 25%;height: 100%;background-image: url(photos/slogan.png);
                        background-repeat: no-repeat;background-size: contain;background-position: center;
                        
                    }
.boxinitilepartie2{width: 74%;height: 170px;border-left: 1px solid rgba(80, 80, 80, 0.175); padding-left: 30px;}




#boxblocbt{width: 40%;height: 240px;border-radius: 20px;background-color:rgba(217, 217, 217, 0.3);position: relative;
    display: flex;justify-content: center;flex-wrap: wrap;align-content:  center;flex-direction: row;margin: 8px;
    color: white;font-size: 16pt;font-weight: bold;font-family: Arial, Helvetica, sans-serif;overflow: hidden;}


#boxblocbt:hover{box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.6);}

    #photopresentation1{width: 200px;height: 176px;margin-right: 10px;transition: 0.5s;
        animation-name: animationpresentation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;      

        }
        
 @keyframes animationpresentation
    {

        0%  {transform: scale(1);margin-right: 10px}
        25% {transform: scale(1);margin-right: 10px}
        50% {transform: scale(1);margin-right: 10px}
        75% {transform: scale(1);margin-right: 10px}
        100% {transform: scale(1);margin-right: 10px}
    }



    .boxtextepresentationbt{width: fit-content;height: 220px;margin-left: 10px;}
       

    #textepresentationbt, #texteproduitbt {color: rgb(99, 99, 99);font-size: 26pt;
        font-family: sans-serif;display: inline-block;transition: 0.2s;
        position: relative;top: 50%;left: 50%;transform: translate(-50%,-50%);}

        .fondbtpresentation{background-color: rgb(184, 184, 184);display: inline-block;transition: 0.4s;         
            position: absolute;width: 1000px;height: 1000px;top: -200px;left: -1000px;transform: rotate(10deg);}



#boxlivresbt{width: 40%;height: 240px;border-radius: 20px;background-color:rgba(217, 217, 217, 0.3);position: relative;
    display: flex;justify-content: center;flex-wrap: wrap;align-content:  center;flex-direction: column;margin: 8px;
    color: white;font-size: 16pt;font-weight: bold;font-family: Arial, Helvetica, sans-serif;overflow: hidden;}

#boxlivresbt:hover{box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.6);}



    #photonosproduitsbt1{width: 250px;height: 220px;margin-right: 10px;transition: 0.5s;}

    
    #fondbtnosproduit{background-color: red;display: inline-block;transition: 0.5s;       z-index: -1;
        position: absolute;width: 1000px;height: 1000px;top: -200px;left: -1000px;transform: rotate(10deg);}

    .boxtextenosproduitsbt{width: fit-content;height: 220px;margin-left: 10px;}
 

#boxflyersbt{width: 40%;height: 240px;border-radius: 20px;background-color: rgba(217, 217, 217, 0.3);position: relative;
    display: flex;justify-content: center;flex-wrap: wrap;align-content:  center;flex-direction: column;margin: 8px;
    color: white;font-size: 16pt;font-weight: bold;font-family: Arial, Helvetica, sans-serif;overflow: hidden;}

    #boxflyersbt:hover{box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.6);}

    .photoutilisateur1{width: 250px;height: 220px;margin-right: 10px;transition: 5s;z-index: 101;}
    .photoutilisateur1:hover {transform: rotate(12deg);transform: scale(3);}

    #fondbtutilisateur{background-color: rgb(0, 125, 203);display: inline-block;transition: 0.5s;z-index: -2;         
        position: absolute;width: 1000px;height: 1000px;top: -200px;left: -1000px;transform: rotate(10deg);}

    
    .boxtexteutilisateurbt{width: fit-content;height: 220px;margin-left: 10px;}
    #textclt2, #textclt1, #textutil1, #textutil2 {color: rgb(99, 99, 99);font-size: 26pt;font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;display: block;
        position: relative;top: 50%;left: 50%;transform: translate(-50%,-89%);}

        /* text-shadow: 1px 1px 7px grey; */

#boxportedocbt{width: 40%;height: 240px;border-radius: 20px;background-color:rgba(217, 217, 217, 0.3);position: relative;
    display: flex;justify-content: center;flex-wrap: wrap;align-content:  center;flex-direction: column;margin: 8px;
    color: white;font-size: 16pt;font-weight: bold;font-family: Arial, Helvetica, sans-serif;overflow: hidden;}
    #boxportedocbt:hover{box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.6);}


    .photoclient1{width: 250px;height: 220px;margin-right: 10px;transition: 5s;z-index: 102;}
    .photoclient1:hover {transform: rotate(12deg);transform: scale(3);}

    .fondbtclient{background-color: green;display: inline-block;transition: 0.5s;         
        position: absolute;width: 1000px;height: 1000px;top: -200px;left: -1000px;transform: rotate(10deg);}
    .fondbtclient:hover{left: -100px;}  



    .boxtexteclientbt{width: fit-content;height: 220px;margin-left: 10px;}





.boxsdusommaire{width: 48%;height: 300px; 
        border-radius: 20px;background-color:rgba(217, 217, 217, 0.158); /*tous les 4 boxes int des modules */
        }
    
.footer{width: 100%;height: 100px;position: relative;bottom: 0px;left: 0px;
        background-color: rgba(128, 128, 128, 0.166);margin-top: 30px;}
    

/* Fin Box sommaire */


/* ****** BOX Bloc Notes ****** ****** BOX Bloc Notes ****** ****** BOX Bloc Notes ****** ****** BOX Bloc Notes ****** */


#boxblocnotes
{
    display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
    width: 96%;height: 650px;
    margin-top: 70px;position: absolute;top: 0%;left: 2%;user-select: none;
    background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.63);

}
.boxblocnotes0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
.boxblocnotes0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
.boxblocnotes1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
.boxblocnotes1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}

#bnp1{width: 48%;height: 300px; 
      border-radius: 20px;background-color: rgba(255, 255, 255, 0.224);
      display: flex; flex-wrap: wrap;justify-content: space-between;align-content: space-between;flex-direction: column;}

#bnp2
      {
          font-family: Arial; 
          display: flex;flex-direction: column;justify-content: space-between;
          width: 48%;height: 300px; 
          border-radius: 20px;background-color: rgba(255, 255, 255, 0.224);
      }

#bnp3{width: 48%;height: 300px; 
    border-radius: 20px;background-color: rgba(255, 255, 255, 0.224);margin: 0;padding: 0;font-size: 10pt; }

#bnp4{width: 48%;height: 300px; 
    border-radius: 20px;background-color: rgba(255, 255, 255, 0.224);margin: 0;padding: 0;font-size: 10pt;   }
      

/*Fin Box Bloc Notes*/



#boxlivres
{
    display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
    width: 96%;height: 650px;
    margin-top: 70px;position: absolute;top: 0%;left: 2%;user-select: none;
    background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);

}
.boxlivres0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
.boxlivres0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
.boxlivres1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
.boxlivres1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}

#boxflyers
{
    display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
    width: 96%;height: 650px;user-select: none;
    margin-top: 70px;position: absolute;top: 0%;left: 2%;
    background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);
}  
.boxflyers0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
.boxflyers0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
.boxflyers1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
.boxflyers1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}

#boxporte
{
    display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
    width: 96%;height: 650px;user-select: none;
    margin-top: 70px;position: absolute;top: 0%;left: 2%;
    background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);
}  
.boxporte0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
.boxporte0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
.boxporte1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
.boxporte1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}

#boxparametrage
{
    display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
    width: 96%;height: 650px;user-select: none;
    margin-top: 70px;position: absolute;top: 0%;left: 2%;
    background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);
}  
.boxparametrage0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
.boxparametrage0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
.boxparametrage1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
.boxparametrage1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}



/* ----------------------------------------- code responsive------------------------------------------------------- */
/* ----------------------------------------- code responsive------------------------------------------------------- */
/* ----------------------------------------- code responsive------------------------------------------------------- */
/* ----------------------------------------- code responsive------------------------------------------------------- */


/*Menu Responsive Screen Moyen*/

@media screen and (min-width : 721px) and (max-width : 900px){
     
     #ladate{display: none;}

    }





/* -----------------------------------Code responsive pour mobile----------------------------------- */
/* -----------------------------------Code responsive pour mobile----------------------------------- */
/* -----------------------------------Code responsive pour mobile----------------------------------- */
/* -----------------------------------Code responsive pour mobile----------------------------------- */
/* -----------------------------------Code responsive pour mobile----------------------------------- */

@media screen and (max-width : 720px)
{
  
    #barrehaut {
        position: fixed;top: 0;left: 0;background-color: black;
        width:100%; height: 60px;display: flex;justify-content: space-between;align-items: center;
        user-select: none;z-index: 90;}   
    
    #menu{display: none;}
    #logobarrehaut{display: none;}

    /*Déroulement Menu Mobile*/
    .menu20
       {
           position: fixed;top: 0px;left: 0px;
           background-color: black;font-family: Arial;
           display: flex;justify-content: flex-start ;align-items: flex-start;flex-direction: column;
           z-index: 92;user-select: none;overflow: hidden;
           width: 35%;height: 60px;
           transition: all 0.1s;
       }
    .menu20.opaque{height: fit-content; width: fit-content;box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.912);}

    .menu21
    {
        position: fixed;top: 0px;left: 0px;
        background-color: black;font-family: Arial;
        display: flex;justify-content: flex-start ;align-items: flex-start;flex-direction: column;
        z-index: 92;user-select: none;overflow: hidden;border-bottom-right-radius: 20px;
        height: fit-content; width: fit-content;transition: all 0.1s;
    }
    .menu21.opaque{box-shadow: 0px -2px 10px rgb(0, 0, 0);width: 35%;height: 60px;}



    
    /*Fin Déroulement Menu Mobile*/

        #titremobile{color: white; font-weight: bolder;font-family: Arial;
        font-size: 16pt ;
        position: relative;top: 0px;left: 10px;user-select: none;
        z-index: 93;display: block;}

        #titremobile:hover{text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.773);}
        
        #sommairebtm{color: white;height: 38px;display: block;width: 100%;
             font-size : 14pt;margin-left: 15px;margin-top: 5px;border-left: 5px solid rgba(255, 0, 0, 0);
             padding-left: 10px;padding-top: 12px;margin-right: 30px;}
        #sommairebtm:hover{text-shadow: 0px 0px 5px white;border-left: 5px solid red;}
        
        #blocbtm{color: white;height: 38px;display: block;width: 100%;
            font-size : 14pt;margin-left: 15px;border-left: 5px solid rgba(255, 0, 0, 0);
            padding-left: 10px;padding-top: 12px;margin-right: 30px;}
        #blocbtm:hover{text-shadow: 0px 0px 5px white;border-left: 5px solid red;}

        #livresbtm{color: white;height: 38px;display: block;width: 100%;
            font-size : 14pt;margin-left: 15px;border-left: 5px solid rgba(255, 0, 0, 0);
            padding-left: 10px;padding-top: 12px;margin-right: 30px;}
        #livresbtm:hover{text-shadow: 0px 0px 5px white;border-left: 5px solid red;}
        #flyersbtm{color: white;height: 38px;display: block;width: 100%;
            font-size : 14pt;margin-left: 15px;border-left: 5px solid rgba(255, 0, 0, 0);
            padding-left: 10px;padding-top: 12px;margin-right: 30px;}
        #flyersbtm:hover{text-shadow: 0px 0px 5px white;border-left: 5px solid red;}
        #portedocbtm{color: white;height: 38px;display: block;width: 100%;
            font-size : 14pt;margin-left: 15px;border-left: 5px solid rgba(255, 0, 0, 0);
            padding-left: 10px;padding-top: 12px;margin-right: 30px;}
        #portedocbtm:hover{text-shadow: 0px 0px 5px white;border-left: 5px solid red;}
        #parametragebtm{color: white;height: 38px;display: block;width: 100%;
            font-size : 14pt;margin-left: 15px;border-left: 5px solid rgba(255, 0, 0, 0);
            padding-left: 10px;padding-top: 12px;margin-right: 30px;}
        #parametragebtm:hover{text-shadow: 0px 0px 5px white;border-left: 5px solid red;}
    
        #ladate{font-size: 14pt;font-weight: bold;color: grey;display: block; position: absolute; right: 15px; top: 22px;}


/*Box du sommaire responsive 720px          Box du sommaire responsive 720px        Box du sommaire responsive 720px */

    #boxsommaire
    {
        display: none;flex-wrap: wrap;
        width: 100%;position: absolute;top: 0%;left: 0%;
        margin-top:60px;justify-content: space-around;align-content: space-around;
    }
        .boxsdusommaire{width: 98%;height: fit-content;background-color:  rgba(255, 255, 255, 0.224);}
       
        .boxsommaire0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
        .boxsommaire0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
        .boxsommaire1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
        .boxsommaire1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}
    
        #boxinitiale{width: 100%;
            display: flex;flex-direction: column;
            align-content: space-around;justify-content: space-between;align-items: center;
            height: 340px;overflow: hidden;
            }
            .boxinitilepartie1{width: 100%;height: 300px;background-image: url(photos/slogan.png);
                background-repeat: no-repeat;background-size: contain;background-position: center}
            .boxinitilepartie2{width: 100%;height: 100px;display: none;}
            #boxinitiale p {font-size: 10pt;text-align: justify;width: 100%;}



        #photopresentation1{width: 150px;height: 132px;margin-right:0px;transition: 2s;}
        #photonosproduitsbt1{width: 150px;height: 132px;margin-right: 4px;transition: 2s;}
        .photoutilisateur1{width: 150px;height: 132px;margin-right: 4px;transition: 2s;}
        .photoclient1{width: 150px;height: 132px;margin-right: 4px;transition: 2s;}

        /* taille originale de la photo 250px;height: 220px */

        .textepresentationproduitbt{color: rgb(99, 99, 99);font-size: 26pt;}
        .texteespacebt{color:rgb(99, 99, 99);font-size: 26pt;
                      text-align: center;}
        
            
        
    #boxblocbt{width: 100%;
              display: flex;flex-direction:  column;align-items: center;justify-content: center;
                  overflow: hidden;}


            .boxtextepresentationbt{width: fit-content;height: fit-content;margin: 5px;}

    #boxlivresbt{width: 100%;
                 display: flex;flex-direction:  column;align-items: center;justify-content: center;
                 overflow: hidden;}
            .boxtextenosproduitsbt{width: fit-content;height: fit-content;margin: 5px;}



    #boxflyersbt{width: 100%;
        display: flex;flex-direction:  column;align-items: center;justify-content: center;
        overflow: hidden;}

            .boxtexteutilisateurbt{width: fit-content;height: fit-content;margin: 5px;}



    #boxportedocbt{width: 100%;
        display: flex;flex-direction:  column;align-items: center;justify-content: center;
        overflow: hidden;}

        .boxtexteclientbt{width: fit-content;height: fit-content;margin: 5px;}



/*FIN Box du sommaire responsive 720px     FIN Box du sommaire responsive 720px   FIN Box du sommaire responsive 720px */

        #boxblocnotes
        {
            display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
            width: 96%;height: 1300px;
            margin-top: 70px;position: absolute;top: 0%;left: 2%;
            background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);

        }
        .boxblocnotes0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
        .boxblocnotes0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
        .boxblocnotes1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
        .boxblocnotes1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}
        
        #bnp1{height: 300px;width: 98%;}
        #bnp2{height: 300px;width: 98%;}
        #bnp3{height: 300px;width: 98%;}
        #bnp4{height: 300px;width: 98%;}

        #boxlivres
        {
            display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
            width: 96%;height: 1300px;
            margin-top: 70px;position: absolute;top: 0%;left: 2%;
            background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);

        }
        #livresp1{border: 1px solid black;height: 300px}
        #livresp2{border: 1px solid black;height: 300px}
        #livresp3{border: 1px solid black;height: 300px}
        #livresp4{border: 1px solid black;height: 300px}

        .boxlivres0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
        .boxlivres0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
        .boxlivres1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
        .boxlivres1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}
        
        #boxflyers
        {
            display: flex; flex-wrap: wrap;justify-content: space-around;align-content: space-around;
            width: 96%;height: 1300px;
            margin-top: 70px;position: absolute;top: 0%;left: 2%;
            background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);
        }
        #flyersp1{border: 1px solid black;height: 300px}
        #flyersp2{border: 1px solid black;height: 300px}
        #flyersp3{border: 1px solid black;height: 300px}
        #flyersp4{border: 1px solid black;height: 300px}
        
        .boxflyers0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
        .boxflyers0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
        .boxflyers1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
        .boxflyers1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}
        
        #boxporte
        {
            display: flex;flex-wrap: wrap;justify-content: space-around;align-content: space-around;
            width: 96%;height: 1300px;
            margin-top: 70px;position: absolute;top: 0%;left: 2%; 
            background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);
        }
        #portep1{border: 1px solid black;height: 300px}
        #portep2{border: 1px solid black;height: 300px}
        #portep3{border: 1px solid black;height: 300px}
        #portep4{border: 1px solid black;height: 300px}
        
        .boxporte0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
        .boxporte0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
        .boxporte1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
        .boxporte1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}
        
        #boxparametrage
        {
            display: flex;flex-wrap: wrap;justify-content: space-around;align-content: space-around;
            width: 96%;height: 1300px;background-color: rgb(238, 222, 0);
            margin-top: 70px;position: absolute;top: 0%;left: 2%;
            background-color: rgba(255, 255, 255, 0.384);border-radius: 20px;box-shadow: 0px 1  px 6px rgba(0, 0, 0, 0.63);
        }
        #parametragep1{border: 1px solid black;height: 300px}
        #parametragep2{border: 1px solid black;height: 300px}
        #parametragep3{border: 1px solid black;height: 300px}
        #parametragep4{border: 1px solid black;height: 300px}
        

        .boxparametrage0{transition-duration: 0.8s;margin-left: -400px;transform: scale(0); opacity: 0;} 
        .boxparametrage0.opaque{margin-left: 0px;transform: scale(1);opacity: 1;}
        .boxparametrage1{transition-duration: 0.8s;margin-left: 0px;transform: scale(1); opacity: 1;} 
        .boxparametrage1.opaque{margin-left: -400px;transform: scale(0);opacity: 0;}
}